/* forms */
.ct-appointment-form .wpforms-submit {
  width: 100%;
}

.ct-subscribe-wpforms {
  --form-field-border-width: 0;
  --theme-button-background-initial-color: var(--theme-palette-color-4);
  --theme-button-text-hover-color: var(--theme-palette-color-4);
  --theme-button-background-hover-color: #fff;
}

/* slider */
.blockslider-pagination.blockslider-pagination-square span {
  width: 45px !important;
  margin: 5px 8px !important;
}

/*latets post widget*/
.wp-block-latest-posts__featured-image img.wp-post-image {
  width: 100%;
  height: 200px;
  /* adjust to your desired height */
  object-fit: cover;
  display: block;
}

header {
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

footer {
  box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
}
